@import "admin-styles/mixin";
@import "admin-styles/dashboard";
@import "admin-styles/products";
@import "admin-styles/chart";
@import "home";
@import "cart-items";
@import "shipping";
@import "login";
@import "search";
@import "order-details";

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
.red {
  color: #ec3636;
}
.purple {
  color: #f53ff5;
}
.green {
  color: #34ce34;
}
body {
  user-select: none;
}

.order {
  max-width: 900px;
  width: 100%;
  margin: auto;
  overflow: auto;
  > h1 {
    @include heading;
    margin: 1rem 0;
    text-align: left;
  }
}

.header {
  background-color: #d9ebd9;
  @include flex(row, flex-end, stretch, 1rem);
  padding: 1.1rem;
  a {
    color: rgb(28, 167, 223);
    letter-spacing: 2px;
    font-size: 1rem;
    &:hover {
      color: rgb(98, 164, 190);
    }
  }
  button {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      color: rgb(28, 167, 223);
    }
  }
  dialog {
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1;
    padding: 18px;
    width: 90px;
    position: absolute;
    left: calc(100% - 91px);
    top: 9%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .order_wrapper {
      @include flex(column, flex-start, center, 1.25rem);
    }
  }
}

.admin_container {
  @include grid(1fr 4fr, 2rem);
  background-color: azure;
  height: 100vh;

  > aside {
    width: 100%;
    background-color: white;
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .main_admin_wrapper {
      margin: 2.5rem 1rem;
      > h5 {
        @include heading(2px);
        opacity: 0.8;
        margin: 1rem 0;
      }
      > ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style: none;
        > li {
          padding: 0.5rem 0.6rem;
          border-radius: 10px;
          a {
            color: rgba(0, 0, 0, 0.2);
            @include flex(row, unset);
            gap: 6px;
          }
        }
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    font-weight: bold;
    color: #0000009e;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2rem 1rem;
  }

  tbody {
    tr {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
    }

    td {
      padding: 1rem;

      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        border-radius: 10px;
      }
      a {
        text-decoration: none;
        background-color: rgba(44, 104, 255, 0.455);
        color: rgba(44, 104, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
      }
      button {
        width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: rgb(255, 44, 44);
        &:hover {
          opacity: 0.6;
        }
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}
.table_pagination {
  @include flex;
  padding: 2rem;
  > button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 115, 255);
    color: white;
    &:disabled {
      background-color: rgba(0, 115, 255, 0.1);
      cursor: not-allowed;
    }
  }
}

.sk_loader {
  display: flex;
  flex-direction: column;
}

.sk_shape {
  height: 30px;
  width: 100%;
  background-color: #c0aaaa;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: skeleon-loading 1.5s infinite;
}

@keyframes skeleon-loading {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16%;
  > svg {
    font-size: 4rem;
    color: red;
  }
  > h1 {
    color: blue;
    font-size: 26px;
    letter-spacing: 6px;
    font-weight: 800;
  }
}
